:root {
	--main-height: 0;
	--header-height: 1rem;
	--nav-width: 260px;

	
	--first-color: white;
	--first-color-alt: #FFFFFF;
	--white-color: #FFFFFF;
  }
  
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  a {
	text-decoration: none;
  }
  
  ul {
	list-style: none;
  }

  main {
	overflow: hidden;
	position: relative;
	margin: 0 0 0 0;
	padding: 1rem;
	font-size: 1rem;
	background-color: #EAF0FA;
	height: 100vh;
  }

  .bg {
	background-color: #EAF0FA;
  }

  .header {
	position: relative;
	z-index: 1;
	width: 100%;
	height: var(--header-height);
	background-color: var(--white-color);
	transition: 0.5s;
	box-shadow: 0px 2px 4px rgba(14, 31, 53, 0.12);
  }

  .notif{
	cursor: pointer;
  }

  .headerWrapper {
	height: 100%;
	padding: 0px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
  }

  .headerRight {
	display: flex;
	align-items: center;
  }

  .bell {
	background-color: #EAF0FA;
	border-radius: 10px;
	padding: 10px;
	color: #173468;
	margin-right: 0px;
  }

  .headerProfile {
	cursor: pointer;
	display: flex;
	margin: 0 30px 0;
  }

  .headerAvatar {
	width: 35px;
	height: 35px;
	border-radius: 10px;
	margin-right: 10px;
  }

  .headerName {
	align-items: center;
	color: #173468;
  }

  .username {
	font-size: 17px;
	margin: 0;
  }

  .company {
	font-size: 10px;
	margin: 0;
  }

  .sidebar {
	position: fixed;
	z-index: 1;
	top: 0;
	left: -30%;
	height: 100vh;
	width: var(--nav-width);
	background-color: var(--first-color);
	padding-top: 1rem;
	box-shadow: 0px 4px 8px rgba(14, 31, 53, 0.16);
  }

  .nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	height: 100%;
  }

  .navbar-brand2{
	font-weight: 700;
	font-size: 24px;
	color: #404040;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.nav-list {
	position: relative;
	top: 2rem;
}

.nav-item2 {
	display: grid;
	grid-template-columns: max-content max-content;
	column-gap: 0;
	padding: 0.5rem;
	display: flex;
	position: relative;
	transition: 0.5s;
	margin: 0px 20px 10px;
	color: #173468;
	cursor: pointer;
	border-radius: 6px;
  }

  .nav-item2-active{
	display: grid;
	grid-template-columns: max-content max-content;
	column-gap: 0;
	padding: 0.5rem;
	display: flex;
	position: relative;
	transition: 0.5s;
	margin: 0px 20px 10px;
	cursor: pointer;
	border-radius: 6px;
	background-color: #173468;
	color: white;
  }
  
  .nav-item2-active:hover{
	color: white;
  }

  .nav-item2:hover{
	background-color: #EAF0FA;
	color: #173468;
  }

  .nav-item2-active img{
	filter: brightness(0) invert(1);
  }

  .logo4 {
	position: relative;
	right: 1rem;
	width: 30px;
	height: 20px;
	margin-right: 40px;
  }

  .nav-items {
	margin: 0 10px 0 10px;
  }

  .nav-item3 {
	justify-content: center;
	display: grid;
	grid-template-columns: max-content max-content;
	column-gap: 0;
	padding: 0.5rem;
	display: flex;
	position: relative;
	transition: 0.5s;
	margin: 0px 20px 10px;
	color: #951D20;
	cursor: pointer;
	border-radius: 6px;
  }

  .nav-item3-active{
	justify-content: center;
	display: grid;
	grid-template-columns: max-content max-content;
	column-gap: 0;
	padding: 0.5rem;
	display: flex;
	position: relative;
	transition: 0.5s;
	margin: 0px 20px 10px;
	color: #173468;
	cursor: pointer;
	border-radius: 6px;
  }

  .nav-item3:hover {
	background-color: #EAF0FA; 
	color: #951D20;
  }

  .search-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
	width: 340px;
	height: 36px;
	background: #EAF0FA;
	border-radius: 10px;
  }

  .header-search-input{
	width: 260px;
	outline: none;
	border: none;
	background-color: #EAF0FA;
	font-weight: 500;
	font-size: 16px;
	color: black;
  }

  @media screen and (min-width: 768px) {
	main {
	  padding: 0 0 0 calc(var(--nav-width));
	}
  
	.header {
	  height: calc(var(--header-height) + 3rem);
	}
  
	.sidebar {
	  left: 0;
	  padding: 1rem 0 0 0;
	}
  } 

  /* Dashboard */

  .feature-block1 {
	transition: all 0.3s ease;
  }
  
  .feature-block1:hover {
	transform: scale(1.1);
	box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
  }
  
  .feature-block1 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	font-size: small;
	padding: 10px;
	height: 120px;
	width: 230px;
	border: 2px;
	border-radius: 6px;
	background-color: #fff;
	box-shadow: 0px 2px 4px rgba(14, 31, 53, 0.12);
  }

  .pic {
	height: 60px;
	width: 50px;
	padding-top: 10px;
  }

  .title4 {
	padding-left: 20px;
	padding-top: 20px;
	font-size: 20px;
  }

  .recent {
	margin-left: 30px;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	height: 450px;
	width: 450px;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	box-shadow: 0px 2px 4px rgba(14, 31, 53, 0.12);
	font-size: 18px;
	font-weight: 600;
  }

  .pic2 {
	height: 260px;
	width: 230px;
  }

  .dashboardWrapper {
	font-size: 20px;
	font-weight: 600;
	color: #173468;
	height: 100%;
	padding: 20px 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
  }

  .textRecent {
	text-align: left;
	margin-left: 30px;
	color: #173468;
	font-size: 20px;
	font-weight: 600;
  }

  .create {
	font-size: 14px;
	height: 20px;
	width: 210px;
	margin-top: 20px;
  }

  .plusIcon {
	padding-right: 10px;
  }

  .btn {
	padding-left: 10px;
	margin-left: 10px;
	background-color: #173468;
  }