:root {
	--header-height: 3rem;
	--nav-width: 260px;

	
	--first-color: white;
	--first-color-alt: #FFFFFF;
	--white-color: #FFFFFF;
  }
  
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  a {
	text-decoration: none;
  }
  
  ul {
	list-style: none;
  }

  main {
	overflow: hidden;
	position: relative;
	margin: var(--header-height) 0 0 0;
	padding: 0 1rem;
	font-size: 1rem;
	transition: 0.5s;
	background-color: #EAF0FA;
  }

  .bg {
	background-color: #EAF0FA;
  }

  .header {
	position: fixed;
	top: 0;
	left: 0;
	height: var(--header-height);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--white-color);
	padding: 0 1rem;
	transition: 0.5s;
	box-shadow: 0px 2px 4px rgba(14, 31, 53, 0.12);
  }

  .sidebar {
	position: fixed;
	top: 0;
	left: -30%;
	height: 100vh;
	width: var(--nav-width);
	background-color: var(--first-color);
	padding-top: 1rem;
	transition: 0.5s;
	box-shadow: 0px 4px 8px rgba(14, 31, 53, 0.16);
  }

  .nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	height: 100%;
  }

  .navbar-brand2{
	font-weight: 700;
	font-size: 24px;
	color: #404040;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.nav-list {
	position: relative;
	top: 2rem;
}

.nav-item2 {
	display: grid;
	grid-template-columns: max-content max-content;
	column-gap: 0;
	padding: 0.5rem;
	display: flex;
	position: relative;
	transition: 0.5s;
	margin: 0px 20px 10px;
	color: #173468;
	cursor: pointer;
	border-radius: 6px;
  }

  .nav-item2-active{
	display: grid;
	grid-template-columns: max-content max-content;
	column-gap: 0;
	padding: 0.5rem;
	display: flex;
	position: relative;
	transition: 0.5s;
	margin: 0px 20px 10px;
	cursor: pointer;
	border-radius: 6px;
	background-color: #173468;
	color: white;
  }

  .nav-item2:hover{
	background-color: #EAF0FA;
  }

  .nav-item2-active img{
	filter: brightness(0) invert(1);
  }

  .logo4 {
	position: relative;
	right: 1rem;
	width: 30px;
	height: 20px;
	margin-right: 40px;
  }

  .nav-items {
	margin: 0 10px 0 10px;
  }

  .nav-items:hover {
	background-color: #EAF0FA;
	color: #000;
  }

  .nav-item4 {
	justify-content: center;
	align-items: center;
	position: relative;
	transition: 0.5s;
	margin: 0 10px 20px 10px;
	display: grid;
	grid-template-columns: max-content max-content;
	column-gap: 0;
	padding: 0.5rem;
	color: #951D20;
	cursor: pointer;
  }


  @media screen and (min-width: 768px) {
	main {
	  margin: calc(var(--header-height) + 1rem) 0 0 0;
	  padding: 0 0 0 var(--nav-width);
	}
  
	.header {
	  height: calc(var(--header-height) + 1rem);
	  padding-left: calc(var(--nav-width) + 2rem);
	}
  
	.sidebar {
	  left: 0;
	  padding: 1rem 0 0 0;
	}
  }