* {
  font-family: "Poppins", sans-serif;
}

/* navbar */

.navbar {
  background: #fff !important;
  box-shadow: 0px 3px 7px rgba(14, 31, 53, 0.12);
}

.navbar-brand {
  font-weight: 700;
  font-size: 24px;
  color: #404040;
}

.span-invoice {
  color: #234f9d;
}

.nav-link {
  font-size: 24px;
  color: #999999;
}

.nav-link.active {
  font-weight: 700;
  color: #404040;
  box-sizing: border-box;
  border-bottom: 3px solid #173468;
}

.button-primary {
  font-weight: 600;
  font-size: 16px;
  width: 131px;
  height: 48px;
  background: #173468;
  color: #fff;
  border-radius: 6px;
  align-items: center;
}

/* Home */
.text1 {
  width: 595px;
  height: 36px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #5887da;
}

.text2 {
  width: 595px;
  height: 110px;
  font-weight: 700;
  font-size: 48px;
  line-height: 114.5%;
  color: #404040;
}

.text3 {
  width: 595px;
  height: 150px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  color: #5c5c5c;
}

.button-lg-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  width: 208px;
  height: 51px;
  left: 150px;
  top: 627px;
  background: #173468;
  color: #fff;
  border-radius: 6px;
}

.my-image1{
  position: absolute;
  width: 490px;
  height: 340px;
  left: 670px;
  top: 145px;
}

.my-image2{
  position: absolute;
  background: rgb(255, 255, 255);
  background: linear-gradient(55deg, rgba(255,255,255,1)0%, rgba(31,69,138,1)49%, rgba(31,69,138,1)94% );
  width: 450px;
  height: 400px;
  right: 115px;
  border-radius: 20px;

}

.box1{
  position: absolute;
  background: rgb(255, 255, 255);
  background: linear-gradient(30deg, rgba(255,255,255,1)0%, rgba(31,69,138,1)60%, rgba(31,69,138,1)94% );
  width: 450px;
  height: 400px;
  right: 115px;
  border-radius: 10px;
}

.section-title1 {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 150px;
  color: #404040;
}

.font1{
  font-size: 32px;
}

.font2{
  margin-left: 300px;
  margin-right: 300px;
  font-size: 32px;
}

.separator {
  font-size: 13px;
  margin-top: 20px;
  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 50px;
  color: #404040;
}

.feature-block{
  transition: all 0.3s ease;
}

.feature-block:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
}

.feature-block {
  text-align: center;
  font-size: small;
  padding: 10px;
  height: 250px;
  width: 300px; 
  border: 2px solid #5887DA;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 3px 3px 3px #8a8989;
}

.fitur {
  background-color: #EAF0FA !important;
  padding-top: 50px;
  padding-bottom: 100px;
}

.title4 {
  padding-top: 20px;
  font-size: 20px;
}

.pic {
  padding-top: 10px;
}

.text5 {
  margin-left: 15px;
  width: 595px;
  height: 110px;
  font-weight: 600;
  font-size: 34px;
  line-height: 114.5%;
  margin-top: 100px;
  color: #404040;
}

.list-group {
  list-style: none;
}

.check {
  height: 30px;
  padding-right: 10px;
  margin-bottom: 20px;
  
}

.my-image3{
  height: 400px;
  width: 490px;
  margin-top: 100px;
}

.text6 {
  margin-bottom: 10px;
  margin-left: 15px;
  width: 595px;
  height: 110px;
  font-weight: 600;
  font-size: 34px;
  line-height: 114.5%;
  margin-top: 100px;
  color: #404040;
}

.download {
  margin-top: 80px;
  margin-left: 15px;
}
